**Source Code: Understanding News Articles**

bibliotheken werden im laufe der entwicklung eingebunden

In [ ]:
import pandas as pd

einlesen der news.csv

In [ ]:
dataframe = pd.read_csv('news.csv')
dataframe

,Unnamed: 0,date,category,text
0,0,2016-01-04 05:30:00.000000,Wirtschaft,Der Kampf gegen die Steuerflucht steht 2016 im...
1,1,2015-07-02 07:08:55.000000,Wirtschaft,Der Volltext dieses auf Agenturmeldungen basie...
2,2,2016-05-07 11:00:00.000000,Web,"Das Experiment beginnt Freitagabend, am Wochen..."
3,3,2016-05-23 09:41:27.000000,Web,"""Was waren die schlimmsten Erlebnisse, die ihr..."
4,4,2015-06-05 12:55:37.000000,Wirtschaft,Wien – Seitdem die Internationale Agentur für ...
...,...,...,...,...
5482,5482,2015-12-15 15:49:23.000000,Wissenschaft,Baikonur/London – Am frühen Dienstagabend erre...
5483,5483,2016-02-17 22:59:03.000000,Sport,Rio de Janeiro – Das Achtelfinal-Match von Dom...
5484,5484,2015-10-29 11:18:47.000000,Web,Bezahlsender Sky bringt Apps für seine hochwer...
5485,5485,2016-03-15 14:50:24.000000,Sport,Neuchatel – Nach einer neuen Studie im Auftrag...
5486,5486,2015-10-15 10:10:25.000000,Wirtschaft,"""Ökologie wird zur Ökonomie des 21. Jahrhunder..."

prüfen, ob null werte in den daten enthalten sind.

In [ ]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5487 entries, 0 to 5486
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5487 non-null   int64
 1   date        5487 non-null   object
 2   category    5487 non-null   object
 3   text        5481 non-null   object
dtypes: int64(1), object(3)
memory usage: 171.6+ KB

die folgenden spalten habe ich aus der tabelle entfernt, da sie für mich keine relevanz hatten.

In [ ]:
dataframe = dataframe.drop('Unnamed: 0', 1)
dataframe = dataframe.drop('date', 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

ausgabe über art und anzahl der kategorien

In [ ]:
dataframe['category'].value_counts()

Web             1616
Wirtschaft      1336
Sport           1190
Wissenschaft     567
Kultur           512
Gesundheit       266
Name: category, dtype: int64

kategorien in id's umwandeln für die weitere verarbeitung

In [ ]:
target_category = dataframe['category'].unique()
dataframe['categoryId'] = dataframe['category'].factorize()[0]

In [ ]:
dataframe

,category,text,categoryId
0,Wirtschaft,Der Kampf gegen die Steuerflucht steht 2016 im...,0
1,Wirtschaft,Der Volltext dieses auf Agenturmeldungen basie...,0
2,Web,"Das Experiment beginnt Freitagabend, am Wochen...",1
3,Web,"""Was waren die schlimmsten Erlebnisse, die ihr...",1
4,Wirtschaft,Wien – Seitdem die Internationale Agentur für ...,0
...,...,...,...
5482,Wissenschaft,Baikonur/London – Am frühen Dienstagabend erre...,5
5483,Sport,Rio de Janeiro – Das Achtelfinal-Match von Dom...,4
5484,Web,Bezahlsender Sky bringt Apps für seine hochwer...,1
5485,Sport,Neuchatel – Nach einer neuen Studie im Auftrag...,4
5486,Wirtschaft,"""Ökologie wird zur Ökonomie des 21. Jahrhunder...",0

In [ ]:
category = dataframe[['category', 'categoryId']].drop_duplicates().sort_values('categoryId')
category

        category  categoryId
0     Wirtschaft           0
2            Web           1
5         Kultur           2
6     Gesundheit           3
7          Sport           4
17  Wissenschaft           5

In [ ]:
dataframe['text'] = dataframe['text'].apply(str)
text = dataframe['text']
text.head(10)

0    Der Kampf gegen die Steuerflucht steht 2016 im...
1    Der Volltext dieses auf Agenturmeldungen basie...
2    Das Experiment beginnt Freitagabend, am Wochen...
3    "Was waren die schlimmsten Erlebnisse, die ihr...
4    Wien – Seitdem die Internationale Agentur für ...
5    Peking – Die chinesische Schriftstellerin und ...
6    Gute Nachricht für schwerkranke Herzpatienten:...
7    Wien – Die internationale Einkaufsgemeinschaft...
8    Wals-Siezenheim – Red Bull Salzburgs neuer Tra...
9    London – Stuart Pearce kehrt im Alter von 53 J...
Name: text, dtype: object

In [ ]:
category = dataframe['category']
category.head(10)

0    Wirtschaft
1    Wirtschaft
2           Web
3           Web
4    Wirtschaft
5        Kultur
6    Gesundheit
7         Sport
8         Sport
9         Sport
Name: category, dtype: object

**Vorverarbeitung der Textdaten**

tags in text entfernen

In [ ]:
import re

def remove_tags(text):
  dataframe['text'] = dataframe['text'].apply(str)
  remove = re.compile(r'')
  return re.sub(remove, '', text)
dataframe['text'] = dataframe['text'].apply(remove_tags)

special characters entfernen

In [ ]:
def special_char(text):
  reviews = ''
  for x in text:
    if x.isalnum():
      reviews = reviews + x
    else:
      reviews = reviews + ' '
  return reviews
dataframe['text'] = dataframe['text'].apply(special_char)

in kleinbuchstaben überführen

In [ ]:
def convert_lower(text):
   return text.lower()
dataframe['text'] = dataframe['text'].apply(convert_lower)
dataframe['text'][1]

'der volltext dieses auf agenturmeldungen basierenden artikels steht aus rechtlichen gründen nicht mehr zur verfügung '

stopwords entfernen (klappt für deutsche texte hier nur mäßig)

In [ ]:
import nltk
nltk.download('stopwords')
from nltk.tokenize import word_tokenize
nltk.download('punkt')
from nltk.corpus import stopwords

def remove_stopwords(text):
  stop_words = set(stopwords.words('german'))
  words = word_tokenize(text)
  return [x for x in words if x not in stop_words]
dataframe['text'] = dataframe['text'].apply(remove_stopwords)
dataframe['text'][1]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

['volltext',
 'agenturmeldungen',
 'basierenden',
 'artikels',
 'steht',
 'rechtlichen',
 'gründen',
 'mehr',
 'verfügung']

lemmatizing (unterschiedliche formen eines wortes werden hier zusammengefasst)

In [ ]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')

def lemmatize_word(text):
  wordnet = WordNetLemmatizer()
  return " ".join([wordnet.lemmatize(word) for word in text])
dataframe['text'] = dataframe['text'].apply(lemmatize_word)
dataframe['text'][1]

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

'volltext agenturmeldungen basierenden artikels steht rechtlichen gründen mehr verfügung'

In [ ]:
dataframe

,category,text,categoryId
0,Wirtschaft,kampf steuerflucht steht 2016 mittelpunkt regi...,0
1,Wirtschaft,volltext agenturmeldungen basierenden artikels...,0
2,Web,experiment beginnt freitagabend wochenende bun...,1
3,Web,schlimmsten erlebnisse it mitarbeiter erlebt h...,1
4,Wirtschaft,wien seitdem internationale agentur krebsforsc...,0
...,...,...,...
5482,Wissenschaft,baikonur london frühen dienstagabend erreichte...,5
5483,Sport,rio de janeiro achtelfinal match dominic thiem...,4
5484,Web,bezahlsender sky bringt apps hochwertigen stre...,1
5485,Sport,neuchatel neuen studie auftrag europäischen fu...,4
5486,Wirtschaft,ökologie ökonomie 21 jahrhunderts wem aussage ...,0

**Modelltraining und Test**

definition daten und label

In [ ]:
x = dataframe['text']
y = dataframe['categoryId']

bag of words model (wörter werden hier in einen vektor überführt, um mit ihnen besser arbeiten zu können)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np

x = np.array(dataframe.iloc[:,0].values)
y = np.array(dataframe.categoryId.values)
cv = CountVectorizer(max_features = 5000)
x = cv.fit_transform(dataframe.text).toarray()
print("X.shape = ",x.shape)
print("y.shape = ",y.shape)

X.shape =  (5487, 5000)
y.shape =  (5487,)

daten werden in trainings und test daten aufgeteilt

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0, shuffle = True)
print(len(x_train))
print(len(x_test))

3840
1647

mehrere modelle testen, die sklearn im bereich classification zu bieten hat.

In [ ]:
perform_list = [ ]

In [ ]:
from sklearn.metrics import accuracy_score

def run_model(model_name, est_c, est_pnlty):

  mdl=''


  if model_name == 'Random Forest':

    mdl = RandomForestClassifier(n_estimators=100 ,criterion='entropy' , random_state=0)

  elif model_name == 'Multinomial Naive Bayes':

    mdl = MultinomialNB(alpha=1.0,fit_prior=True)

  elif model_name == 'Decision Tree Classifier':

    mdl = DecisionTreeClassifier()

  elif model_name == 'Gaussian Naive Bayes':

    mdl = GaussianNB()

  oneVsRest = OneVsRestClassifier(mdl)

  oneVsRest.fit(x_train, y_train)

  y_pred = oneVsRest.predict(x_test)

# performance metriken

  accuracy = round(accuracy_score(y_test, y_pred) * 100, 2)

# precision, recall, f1

  precision, recall, f1score, support = score(y_test, y_pred, average='micro')

  print(f'Test Accuracy Score of Basic {model_name}: % {accuracy}')

  print(f'Precision : {precision}')

  print(f'Recall : {recall}')

  print(f'F1-score : {f1score}')

#performance parameter zu liste hinzufügen

  perform_list.append(dict([

  ('Model', model_name),

  ('Test Accuracy', round(accuracy, 2)),

  ('Precision', round(precision, 2)),

  ('Recall', round(recall, 2)),

  ('F1', round(f1score, 2))

]))

In [ ]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import make_scorer, roc_curve, roc_auc_score
from sklearn.metrics import precision_recall_fscore_support as score

run_model('Gaussian Naive Bayes', est_c=None, est_pnlty=None)

Test Accuracy Score of Basic Gaussian Naive Bayes: % 70.86
Precision : 0.7085610200364298
Recall : 0.7085610200364298
F1-score : 0.7085610200364298

In [ ]:
run_model('Random Forest', est_c=None, est_pnlty=None)

Test Accuracy Score of Basic Random Forest: % 90.53
Precision : 0.9052823315118397
Recall : 0.9052823315118397
F1-score : 0.9052823315118397

In [ ]:
run_model('Multinomial Naive Bayes', est_c=None, est_pnlty=None)

Test Accuracy Score of Basic Multinomial Naive Bayes: % 89.13
Precision : 0.891317547055252
Recall : 0.891317547055252
F1-score : 0.891317547055252

In [ ]:
run_model('Decision Tree Classifier', est_c=None, est_pnlty=None)

Test Accuracy Score of Basic Decision Tree Classifier: % 73.83
Precision : 0.7383120825743776
Recall : 0.7383120825743776
F1-score : 0.7383120825743777

**Erzielte Modellergebnisse**

dataframe mit performance der einzelnen modelle

In [ ]:
model_performance = pd.DataFrame(data=perform_list)
model_performance = model_performance[['Model', 'Test Accuracy', 'Precision', 'Recall', 'F1']]
model_performance

                      Model  Test Accuracy  Precision  Recall    F1
0      Gaussian Naive Bayes          70.86       0.71    0.71  0.71
1             Random Forest          90.53       0.91    0.91  0.91
2   Multinomial Naive Bayes          89.13       0.89    0.89  0.89
3  Decision Tree Classifier          73.83       0.74    0.74  0.74

best perfomendes modell ist der random forest. dieses model wird nun für eine beispielhafte klassifikation genutzt

In [ ]:
classifier = RandomForestClassifier(n_estimators=100 ,criterion='entropy' , random_state=0).fit(x_train, y_train)
classifier
y_pred = classifier.predict(x_test)

**Exemplarische Klassifikation**

als beispiel dient der erste eintrag in der news.csv. erwartete ausgabe ist kategorie wirtschaft

In [ ]:
y_pred1 = cv.transform(["Der Kampf gegen die Steuerflucht steht 2016 im Mittelpunkt der Regierungspolitik. Dies versprach Italiens Staatspräsident Sergio Mattarella bei seiner Neujahrsansprache. Und begründete das Vorhaben damit, dass 2015 dem Fiskus 122 Milliarden Euro an Steuereinnahmen verlorengingen. Das entspricht 7,5 Prozent des Bruttoinlandprodukts (BIP). Könnte man die Steuerflucht halbieren, würden 300.000 Arbeitsplätze mehr geschaffen werden. Italien werde 2016 nicht nur die Steuerevasion und die Korruption effizient bekämpfen, sondern auch neue ArbeitsplÃ¤tze schaffen, ergÃ¤nzte Regierungschef Matteo Renzi die Präsidentenansprache. Der Kampf gegen die Steuerevasion wurde bereits im Vorjahr eingeleitet. Nicht nur dass der Fiskus durch die zu Jahresbeginn 2015 von der Regierung Renzi eingeführte Selbstanzeige all jener, die ihr Kapital ins Ausland transferierten und damit dem Fiskus ein Schnippchen schlugen, vier Milliarden Euro einnahm. Die Steuerhinterziehung betrifft vorrangig Freiberufler, Handwerker, Geschäftsinhaber, Kleinunternehmer und multinationale Konzerne. Die italienischen Behörden haben bereits 2015 damit begonnen, verschiedenste Daten abzugleichen. Wie etwa Steuererklärungen und eingetragene Vermögenswerte, wie zum Beispiel Schiffe. 2016 sollen diese Kontrollen weitergehen. Auch hat die Mailänder Staatsanwaltschaft den multinationalen Hightech-Konzern Apple beschuldigt, rund eine Milliarde Euro Steuern hinterzogen zu haben. Wie in Europa üblich, behauptet Apple, seine Umsätze für das Geschäft in Italien über eine Tochter in Irland abgewickelt zu haben. Laut Ermittlungen der Mailänder Staatsanwaltschaft bei Apple-Händlern ergab sich aber, dass in Wahrheit Apple Italia für die Geschäfte und die Abwicklung verantwortlich war. Der Finanzbehörde zufolge hat Apple Italia in der Berichtszeit einen Umsatz von 9,6 Milliarden Euro verzeichnet, wovon 3,9 Milliarden Euro auf Italien entfielen. Apple konnte sich in Italien bei Telekomprodukten einen Marktanteil von über zehn Prozent sichern. Bis 2013 wurden die iPhones nur von Mobilfunkbetreibern wie Telecom Italia, Vodafone oder H3G verkauft. Die Wachstumssteigerung bei Apple Italia am Heimmarkt geht vorrangig auf den iPhone-Bereich zurück. Apple Italia hatte sich zunächst geweigert, die Steuerschuld zu begleichen. Nun kam es zwischen Apple Italia und der Finanzbehörde zum Vergleich: Apple stimmte zu, 318 Millionen Euro an Steuerschulden zu zahlen. Dies ist zwar weniger als die Hälfte des veranschlagten Betrags. Doch die Finanzbehörde wollte einen Präzedenzfall setzen, der nicht nur  in Italien Schule machen soll. Übrigens müssen sich drei Apple-Manager vor Gericht wegen Steuerbetrugs verantworten. Gegenwärtig laufen in Italien auch Ermittlungen gegen Google und Amazon wegen angeblicher Steuerhinterziehungen. Dem Vernehmen nach habe sich Google ebenfalls zum Vergleich von 150 Millionen Euro bereiterklärt, während bei Amazon noch verhandelt werde. (Thesy Kness-Bastaroli aus Mailand, 4.1.2016)"])
yy = classifier.predict(y_pred1)
result = ""
if yy == [0]:
  result = "Wirtschaft"
elif yy == [1]:
  result = "Web"
elif yy == [2]:
  result = "Kultur"
elif yy == [3]:
  result = "Gesundheit"
elif yy == [4]:
  result = "Sport"
elif yy == [5]:
  result = "Wissenschaft"
print(result)

Wirtschaft